.search {
  text-align: center;
  margin-top: 4rem;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-top: 3rem;
  margin: 0 auto;
  border-radius: 10rem;
  padding: 1.5rem 3rem;
  border: none;
  background-color: rgb(223, 247, 255);
  width: 30%;
  letter-spacing: 0.05rem;
  transition: all 0.2s;
}

.search__input:focus {
  width: 40%;
  outline: none;
}

.search__input::placeholder {
  letter-spacing: 0.03rem;
  font-weight: 100;
}
